<footer class="footer">
  <div class="f-info">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-x-twitter"></i>
    <i class="fa-brands fa-linkedin-in"></i>
  </div>
  <div class="copyright">© 2023 BnB Lite. All rights reserved.</div>
  <div class="f-info-links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
  </div>
</footer>
