*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

.listing{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.edit-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}

.edit-btn:hover{
    background-color: #45a049;
}

.delete-btn{
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: #e53935;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}