*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    /* /* padding: 20px; */
} 

.navbar{
    height: 5rem;
}

.fa-location-arrow{
    color: #fe424d;
    font-size: 2rem;
}