*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.create-listing a{
    text-decoration: none;
    color: inherit;
    border: 1px solid #5cb85c;
    padding: 5px 10px;
    border-radius: 4px;
}

.create-listing{
    padding: 20px;
}

.all-listings{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.listing{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    width: calc(20% - 20px);

}

.listing img{
    max-width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

